* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.625%;
  line-height: 1.5;
  font-family: helvetica;
  background-color: #f9f9f9;
  color: #333;
}

h1,
h2,
h3 {
  font-size: 1.6rem;
}

li,
a,
p,
div {
  font-size: 1.2rem;
}

.content {
  min-height: 100vh;
  padding-bottom: 100px;
  margin: 0 auto;
  position: relative;
  width: 80%;

  .title {
    text-align: center;
    color: black;
    margin: 1rem;
  }
}

ul {
  list-style: none;
}

.filler {
  margin: 40px;
  height: 10vh;
}

footer {
  height: 100px;
  position: absolute;
  width: 100%;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
